/*limpar formatações padrões */
*{
	margin: 0;
	padding: 0;

}

 body {
 	font-size: 16px;
 	font-family: Trebuchet MS, helvetica, sans-serif;
    background: #f3f3f3;
 }

 #navegacao {
 	  background: #fff;
 	  border-bottom: 1px solid #d8d8d8;
 	  height: 50px;
 	  position: fixed;
 	  width: 100%;
 	  top: 0;
 }

 #area {
 	width: 720px;
 	margin: 0 auto;

 }

 #area-principal {
 	width: 720px;
 	margin: 60px auto 10px auto;
 }


 #logo {
 	float: left;
 }

 #menu{
 	float: right;
 	padding: 10px 0;
 }

#postagem {
	background: #E6E6E6;
	padding: 10px;
	margin-bottom: 15px;
}

 

/****************************formatação do menu*****
******************************/
a {
	text-decoration: none;
	padding: 6px 10px;
}

/*links não visitados*/

a:link {
 	color: #838383;
 }

/*links visitados*/

a:visited {
 color: #838383;
}

/*links hover*/

a:hover {
	color: #FFF;
	background: #b9c941;
}

/*links active*/

a:active {
 color: #535353;
}

h2{
	color: #b9c941
}









/*classes*/
 .verde {
   color: #b9c941;
}


.data-postagem{
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4; 
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

 .img-postagem{
  float: left;
  margin: 0 10px 5px 0;
}

.postado {
	border-left: 5px solid #000;
	padding: 15px;
	display: block;
	margin-top: 10px;
}

