.header {
    position: relative;
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 100%;
}

.header img {
    height: 3rem;
    width: 7.875rem;
}

.taskInputForm {
    position: absolute;
    bottom: -1.813rem; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white); 
    padding: 1.25rem;
    margin: auto;
    width: 50%; 
   }
