.container {
    justify-content: center;
}

.header {
    position: relative;
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 100%;
    
}

.header img {
    height: 3rem;
    width: 7.875rem;
    align-items: center;
}

.taskInputForm {
    position: absolute;
    bottom: -1.813rem; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white); 
    padding: 1.25rem;
    margin: auto;
    width: 48.5rem;
    background-color: red;
    align-items: center;
   }


   .taskInputForm form button {
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px; /* 8px */
    width: 5.625rem; /* 90px */
    height: 3.25rem; /* 52px */
    padding-left: 1rem; /* 16px */
    font-weight: 14;
    align-items: center;
    justify-content: center;
    transition: color 0.15s, background-color 0.15s;
    
}

.createButton {
    display: flex;
    align-items: center;
    padding-right: 0.125rem; /* 2px */
    gap: 0.5rem; /* 8px */
    
}




.taskInputForm form button:hover {
    background: var(--blue);
    color: var(--gray-100);
    
} 


.taskInputForm form input {
    margin-right:0.5rem;
    width: 638px;
    height: 54px;
    
}