*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    background-color: #F2F2F2;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    text-align: left;
    padding: 0.5rem;
}

.logo img {
    width: 8rem;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.contact-info h1 {
    color: #333;
    margin-bottom: 1rem;
}

.contact-info p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

.icons-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 1.5rem;
    color: #333;
    margin-right: 0.625rem;
}

.instagram-icon {
    margin-left: 0;
}

.form {
    width: 45%;
    padding: 2.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form h1 {
    color: #333;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    padding: 0.625rem;
    margin-top: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    width: 100%;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
    background-color: #ea8200;
    border: none;
    height: 2rem;
    width: 4rem;
    color: #f4d387;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #d87000;
}

.black-footer {
    background-color: #333333;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 1.25rem 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


@media (max-width: 320px) {
    .container {
        padding: 0;
    }

    .text,
    .form {
        width: 100%;
        padding: 0.5rem;  
    }

    .contact-info h1, .contact-info p {
        text-align: center;
        margin: 0.3rem 0;
        font-size: 0.9rem;
    }

    .icons-container {
        text-align: center;
        margin: 0.5rem 0;
    }

    .icon {
        margin: 0 0.2rem;  
    }


    .form h1 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    label {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"] {
        padding: 0.3rem;
        width: 100%;
        font-size: 0.9rem;
        border: 1px solid #ccc;
    }

    button[type="submit"] {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .contact-info h1 {
        margin-top: 1.2rem !important; 
    }

    .black-footer {
        font-size: 0.8rem; 
        padding: 0.8rem 0; 
    }
    
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .text,
    .form {
        width: 100%;
    }

}


@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        flex-direction: row;
    }
    .text,
    .form {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .container {
        flex-direction: row;
    }
    .text {
        width: 45%;
    }
    .form {
        width: 55%;
    }
}



@media (min-width: 769px) and (max-width: 2048px) {
    .container {
        flex-direction: column;
    }
    .text, .form {
        width: 80%;
    }
    .contact-info h1, .contact-info p {
        font-size: 1.2rem;
    }
    .icons-container {
        margin: 1rem 0;
    }
    button[type="submit"] {
        padding: 0.8rem 2rem;
    }
}


@media (min-width: 1825px) and (max-width: 2736px) {
    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .text, .form {
        width: 45%;
    }
    .contact-info h1, .contact-info p {
        font-size: 1.4rem;
    }
    .icons-container {
        margin: 1.2rem 0;
    }
    button[type="submit"] {
        padding: 1rem 2.5rem;
    }
}


@media (max-width: 1024px) and (min-height: 600px) {
    .container {
        flex-direction: column;
    }
    .text, .form {
        width: 90%;
        padding: 1rem;
    }
    .contact-info h1, .contact-info p {
        font-size: 1rem;
        text-align: center;
    }
    .icons-container {
        justify-content: center;
    }
    button[type="submit"] {
        padding: 0.6rem 1.5rem;
    }
}


@media (max-width: 1280px) and (min-height: 800px) {
    .container {
        flex-direction: column;
    }
    .text, .form {
        width: 85%;
        padding: 1.2rem;
    }
    .contact-info h1, .contact-info p {
        font-size: 1.1rem;
        text-align: center;
    }
    .icons-container {
        justify-content: center;
    }
    button[type="submit"] {
        padding: 0.7rem 1.8rem;
    }
}
