body {
    background: #ececec;
    font-family: 'Rubik', sans-serif;
}

header {
    padding: 0px 40px;
}

.content-header {
    background: #fff;
    padding: 0px 40px;
}

.content-header img {
    width: 200px;
    padding: 10px 0px;
}

.form-box {
    padding: 60px 30px;
}

.form-content input {
    margin: 10px 0px;
    padding: 11px;
}

.form-content .form-control:focus {
    box-shadow: none;
    border: 1px solid #f97d0d;
}

.form-content button {
    border: none;
    background: #f97d0d;
    color: #fff;
    padding: 10px 40px;
    margin-top: 15px;
    transition: all 0.3s;
}
.form-content button:hover {
    background: #df6d09;
    transition: all 0.3s;
}

.form-infos {
    margin: auto;
}

.form-infos h2 {
    padding-bottom: 20px;
    font-size: 40px;
}
.form-infos a {
    text-decoration: none;
    color: #212529;
}

.form-infos p {
    padding: 3px 0px;
}

.social-itens {
    padding: 30px 0px;
}

.social-itens .fa-facebook-f {
    padding: 0px 10px;
    font-size: 23px;
    transition: all 0.8s;
}

.social-itens .fa-instagram {
    padding: 0px 10px;
    font-size: 23px;
    transition: all 0.8s;
}


.social-itens .fa-facebook-f:hover {
    color: #df6d09;
    transition: all 0.8s;
}

.social-itens .fa-instagram:hover {
    color: #df6d09;
    transition: all 0.8s;
}

footer {
    background: #212529;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

footer h4 {
    font-size: 16px;
}

footer span {
    font-weight: bold;
    text-decoration: underline;
}

.obg-box {
    display: flex;
    justify-content: center;
    padding: 186px 0px;
}

.obg-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px 0px;
}





