.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}


@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Se você também deseja alinhar verticalmente */
}


.taskList, .header {
  max-width: 46.25rem; /* ou qualquer largura desejada */
  margin: 0 auto; /* Centraliza horizontalmente */
}