:root{
    --white: #fff

    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00b37e;
    --green-500: #00875f;

    --red-500: #F75a68;





    /*Produto*/
    --blue-dark: #1e6f9f;
    --blue: #4EA8DE;
    --purple: #000000;
    --purple-dark: #5e60ce;


    /*Base*/
    --gray-700: #0D0D0D;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #D9D9D9;
    --gray-100: #F2F2F2;


    /*Feedback*/
    --danger: #E25858;



}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-600);
    /* color: var(--gray-300); */
    -webkit-font-smoothing: antialiased; /*deixa as fontes mais finas*/
}

body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}