.btn-green {
    background-color: green;
    color: #FFF;
}

.btn-yellow {
    background-color: yellow;
}

.btn-blue {
    background-color: blue;
    color: #FFF;
}

.btn-black {
    background-color: black;
    color: #FFF;
}

.btn-red {
    background-color: red;
    color: #FFF;
}
